/* Essa tag * especificamente seleciona toda a estrutura para se adequar o layout da pagina,
 deixando os o texto mais bem colocado dentro dos blocos*/
* {
    box-sizing: border-box; /* Com essa tag você pode definir a largura total,
     sem se preocupar com o padding ou a borda */   
}

/* Fonte */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    color: #333; 
    background-image: url('background-image.jpg');
}

}

/* Cores */
:root {
    --cor-principal: #007bff; 
    --cor-secundaria: #ffffff; 
    --cor-texto: #333333; 
    --cor-destaque: #ffcc00; 
}

/* Estilos da Barra de navegação */
#navbarnavbar-expand-lg {
    background-color: #007bff;
}
.navbar {
    background-color: var(--cor-principal);
}

.navbar-brand, .nav-link {
    color: var(--cor-secundaria) !important;
}

.nav-link:hover {
    text-decoration: underline; 
}

/* Estilo das Seções */
.section {
    padding: 40px 0; 
}

.container {
    max-width: 1200px; 
    margin: auto; /* Essa tag margin centraliza o container */
}

/* Títulos */
h2 {
    color: var(--cor-principal);
    margin-bottom: 20px; 
}

/* Parágrafos */
p {
    margin-bottom: 20px; 
}

/* Botões */
.btn {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
}

.btn:hover {
    background-color: var(--cor-destaque); 
}

/* Estilo das Imagens */
.img-fluid {
    max-width: 100%;
    height: auto; 
    margin: 20px 0; 
}

